.grid-container table {
	border-collapse: collapse;
}

.grid-tile {
	background-color: white;
	padding: 0;
	color: transparent;
}

.grid-container td {
	border: 1px solid black;
	width: 25px;
	height: 25px;
	/*line-height: 25px;*/
	box-sizing: border-box;
}

.grid-container td.fill {
	background-color: #cecece;
}

.grid-container .left-hint-tile, .grid-container .top-hint-tile {
	text-align: center;
	font-family: "New Courier";
}

.grid-container .left-hint-tile {
	border-left: 0; 
	border-right: 0;
}

.grid-container .top-hint-tile {
	border-top: 0; 
	border-bottom: 0;
}

.top-hint-tile.edge {
	border-bottom: 3px solid #353535;
}

.left-hint-tile.edge {
	border-right: 3px solid #353535;
}


.grid-container .left-landmark-tile {
	border-left: 2px solid #353535;
}

.grid-container .top-landmark-tile {
	border-top: 2px solid #353535;
}

.grid-container .hide {
	visibility: hidden;
	border: none;
}

@media screen {
	.trans-border, .grid-container .trans-border {
		border: 1px solid transparent;
	}

	.block {
		color: #969696;
		text-align: center;
	}

	.trans-text {
		color: transparent;
	}

	.block::before {
		content: "X";
	}
}
