body {
	background-color: #cecece;
	font-family: arial;
	color: #353535;
	margin: 0;
}

::selection {
	background-color: #0c6e8c;
	color: white;
}

::-moz-selection {
	background-color: #0c6e8c;
	color: white;
}

a {
	text-decoration: none;
	border-bottom: 2px solid transparent;
	color: #0c6e8c;
}

a:hover {
	color: inherit;
	text-decoration: underline;
}

a.active {
	color: inherit;
	border-bottom: 2px solid #353535;
}

nav a:hover {
	text-decoration: none;
}

header {
	background-color: white;
}

header h1 {
	margin: 0;
	padding: 10px 20px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0 5px; /* To make the padding on nav ul li a to the rest of the document */
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	display: inline-block;
	padding: 10px 15px;
}

main {
	margin-top: 15px;
	padding: 15px 20px;
	background-color: white;
	border-radius: 2px;
}

.container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

#size-index {
	font-size: 1.5em;
	width: 200px;
}

#create-btn {
	border-radius: 2px;
	width: 200px;
	padding: 10px 0;
	font-size: 1.5em;
	background-color: #CECECE;
	border: 1px solid #353535;
}

#create-btn:hover {
	border: 1px solid transparent;
}
