<!DOCTYPE html>
<html>
<head>
	<title>Picross</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/picross-grid.css" />
</head>
<body>
	<header>
		<div class="container">
			<div>
				<h1>Picross</h1>
			</div>
			<nav>
				<ul>
					<li><a id="nav-home" href="#">Home</a></li>
					<li><a id="nav-create" href="#create">Create</a></li>
					<li><a id="nav-credits" href="#credits">Credits</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<main id="content" class="container">
	</main>

	<footer></footer>

	<!-- Templates -->
	<script type="text/template" id="home-template">
		<section>
			<p>
			Picross (also known as nonograms) is a picture based logic puzzle. You're given a grid with hints on the outer edges; using these hints, you must fill in the grid to reveal the picture answer.
			</p>
		</section>
	</script>

	<script type="text/template" id="credit-template">
		<section>
			<p>
				Made by Ricky Kwan. Source code available on <a href="https://github.com/Rickkwa/Picross" target="_blank">GitHub</a>.
			</p>
			<p>
				The application was made using the following JavaScript libraries:
				<ul>
					<li><a href="https://jquery.com/" target="_blank">jQuery</a></li>
					<li><a href="http://underscorejs.org/" target="_blank">Underscore</a></li>
					<li><a href="http://backbonejs.org/" target="_blank">Backbone</a></li>
				</ul>
			</p>
		</section>
	</script>

	<script type="text/template" id="create-template">
		<section>
			<h2>Step 1: Choose a size</h2>
			<select id="size-index">
				<% for (let i = 0; i < sizes.length; i++) { 
					let size = sizes.at(i);
				%>
				<option <%= size.get('defaultSelected') ? "selected" : "" %> value="<%= i %>"><%- size.rows() + " x " + size.cols() %></option>
				<% } %>
			</select>
		</section>

		<section>
			<h2>Step 2: Draw your picture</h2>
			<div>
				<ul>
					<li>To fill in a tile, use <strong>left click</strong>.</li>
					<li>To clear a tile, use <strong>right click</strong>.</li>
				</ul>
			</div>
			<div class="grid-container" oncontextmenu="return false"></div>
		</section>

		<section>
			<h2>Step 3: Create your Picross puzzle!</h2>
			<button id="create-btn">Create</button>
		</section>
	</script>

	<script type="text/template" id="puzzle-template">
		<link rel="stylesheet" type="text/css" media="print" href="css/print-puzzle.css" />

		<section class="instructions">
			Solve the puzzle here or <button class="do-print">Print</button> it out.
		</section>

		<section class="print-only print-instructions">
			Create your own Picross puzzles at http://rickkwa.github.io/demo/picross
		</section>

		<section class="grid-container-wrapper">
			<div class="grid-container" oncontextmenu="return false"></div>
		</section>
	</script>
	
	<!-- Vendors -->
	<script src="js/vendor/jquery-3.0.0.js"></script>
	<script src="js/vendor/underscore.js"></script>
	<script src="js/vendor/backbone.js"></script>


	<!-- Models -->
	<script src="js/models/puzzlesize.js"></script>
	<script src="js/models/puzzlesizes.js"></script>
	<script src="js/models/grid.js"></script> <!-- grid.js depends on puzzlesize.js -->

	<!-- Views -->
	<script src="js/views/home.js"></script>
	<script src="js/views/credits.js"></script>
	<script src="js/views/create.js"></script>
	<script src="js/views/puzzle.js"></script>

	<!-- Utils -->
	<script src="js/utils.js"></script>
	
	<!-- App and router -->
	<script src="js/app.js"></script>

</body>
</html>