<!DOCTYPE html>
<html>
<head>
	<title>Picross</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/picross-grid.css" />
</head>
<body>
	<header>
		<div class="container">
			<div>
				<h1>Picross</h1>
			</div>
			<nav>
				<ul>
					<li><a id="nav-home" href="#">Home</a></li>
					<li><a id="nav-create" href="#create">Create</a></li>
					<li><a id="nav-credits" href="#credits">Credits</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<div id="content-wrapper" class="bg container">
		<main id="content"></main>
		<footer></footer>
	</div>

	<!-- Templates -->
	<script type="text/template" id="home-template">
		<section class="instructions">
			<p>
			Picross (also known as nonograms) is a picture based logic puzzle. You're given a grid with hints on the outer edges; using these hints, you must fill in the grid to reveal the hidden picture.
			</p>

			<p>
			How do the hints work? Here is an example puzzle, along with its answer.
			</p>

			<div class="diagram-container fleft inline-block">
				<p>The puzzle:</p>
				<img src="img/tutorial-puzzle.png" alt="The puzzle" />
			</div>

			<div class="diagram-container fleft inline-block">
				<p>The answer:</p>
				<img src="img/tutorial-answer.png" alt="The answer"/>
			</div>
			<div class="clear"></div>

			<p>
			Notice on the first row, we have <span class="inline-code">3 1</span>. This means that in this row, we have a group of 3 adjacent tiles filled, followed by 1 or more empty tiles, followed by 1 filled tile. The order matters! The same goes with the columns. On the second and third column, we see, from top to bottom, <span class="inline-code">1 2</span>. So we should expect to see starting from the top, 1 filled in tile, followed by 1 or more empty tiles, followed by 2 adjacently filled in tiles. That is indeed the case for both column 2 and 3.
			</p>

			<p>
			Most puzzles allow you to cross out tiles. This allows you to mark tiles you know are not in the answer. In this application, you can cross out a tile (block), and it will be shown by an X in the middle of it.
			</p>
			
			<p>
			And that's all there is to it! Using these hints, reveal the hidden answer!
			</p>

		</section>
	</script>

	<script type="text/template" id="credit-template">
		<section>
			<p>
				Made by Ricky Kwan. Source code available on <a href="https://github.com/Rickkwa/Picross" target="_blank">GitHub</a>.
			</p>
			<p>
				The application was made using the following JavaScript libraries/frameworks:
				<ul>
					<li><a href="https://jquery.com/" target="_blank">jQuery</a></li>
					<li><a href="http://underscorejs.org/" target="_blank">Underscore</a></li>
					<li><a href="http://backbonejs.org/" target="_blank">Backbone</a></li>
				</ul>
			</p>
		</section>
	</script>

	<script type="text/template" id="create-template">
		<div class="create-left fleft">
			<section>
				<h3>Step 1: Pick a Size</h3>
				<select id="size-index">
					<% for (let i = 0; i < sizes.length; i++) { 
						let size = sizes.at(i);
					%>
					<option <%= size.get('defaultSelected') ? "selected" : "" %> value="<%= i %>"><%- size.rows() + " x " + size.cols() %></option>
					<% } %>
				</select>
			</section>

			<section>
				<h3>Step 2: Draw a Picture</h3>
				<div>
					<ul>
						<li>To fill in a tile, use <strong>left click</strong>.</li>
						<li>To clear a tile, use <strong>right click</strong>.</li>
					</ul>
				</div>
			</section>

			<section>
				<h3>Step 3: Create</h3>
				<button id="create-btn" class="btn">Create</button>
			</section>
		</div>

		<div class="create-right fleft">
			<section>
				<div class="grid-container" oncontextmenu="return false"></div>
			</section>
		</div>

		<div class="clear"></div>
	</script>

	<script type="text/template" id="puzzle-template">
		<link rel="stylesheet" type="text/css" media="print" href="css/print-puzzle.css" />

		<section class="instructions">
			<p>Share this URL with a friend!</p>
			<p>Solve the puzzle here or <button class="do-print">Print</button> it out.</p>

			<div>
				<ul>
					<li>To fill/clear a tile, select the <strong>fill</strong> tool and <strong>left (fill)</strong> or <strong>right (unfill)</strong> click.</li>
					<li>To block/unblock a tile, select the <strong>block</strong> tool and <strong>left (block)</strong> or <strong>right (unblock)</strong> click.</li>
				</ul>
			</div>
		</section>

		<section class="print-only print-instructions">
			Create your own Picross puzzles at http://rickkwa.github.io/demo/picross
		</section>

		<section class="controls">
			<input type="radio" class="fill-control" name="click-type" id="click-fill"/><label class="btn" for="click-fill"> Fill</label>
			<input type="radio" class="block-control" name="click-type" id="click-block"/><label class="btn" for="click-block"> Block</label>
		</section>

		<section>
			<div class="grid-container" oncontextmenu="return false"></div>
		</section>

		<div class="clear"></div>
	</script>

	<!--
	<script type="text/template" id="modal-template">
		<section class="modal">
			<div class="modal-inner">
				<div class="modal-title"></div>
				<div class="modal-content">
					<p class="message"></p>
					<div class="right-align">
						<button></button>
					</div>
				</div>
			</div>
		</section>
	</script>-->
	
	<!-- Vendors -->
	<script src="js/vendor/jquery-3.0.0.js"></script>
	<script src="js/vendor/underscore.js"></script>
	<script src="js/vendor/backbone.js"></script>


	<!-- Models and Collections -->
	<script src="js/models/puzzlesize.js"></script>
	<script src="js/models/puzzlesizes.js"></script>
	<script src="js/models/grid.js"></script> <!-- grid.js depends on puzzlesize.js -->

	<!-- Views -->
	<script src="js/views/home.js"></script>
	<script src="js/views/credits.js"></script>
	<script src="js/views/create.js"></script>
	<script src="js/views/puzzle.js"></script>

	<!-- Utils -->
	<script src="js/utils.js"></script>
	
	<!-- App and router -->
	<script src="js/app.js"></script>

</body>
</html>